<!-- ========== Left Sidebar Start ========== -->
<ng-template #contentTemplate>
    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu" #sideMenu>

            <li class="menu-title">Navigation</li>

            <li>
                <a [routerLink]="['/']" class="side-nav-link-ref">
                    <i class="mdi mdi-view-dashboard"></i>
                    <span> Dashboard </span>
                </a>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect" aria-expanded="false">
                    <i class="mdi mdi-share-variant"></i>
                    <span> Multi Level </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level nav collapse" aria-expanded="false">
                    <li>
                        <a href="javascript: void(0);" class="side-nav-link-ref">Level 1.1</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" aria-expanded="false">Level 1.2
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-third-level nav collapse" aria-expanded="false">
                            <li>
                                <a href="javascript: void(0);" class="side-nav-link-ref">Level 2.1</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="side-nav-link-ref">Level 2.2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
</ng-template>


<ng-template #userProfile>
    <div class="user-box text-center">
        <img src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme"
            class="rounded-circle img-thumbnail avatar-lg">
        <div class="dropdown" ngbDropdown>
            <a href="javascript: void(0)" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown" ngbDropdownToggle>Nik Patel</a>
            <div class="dropdown-menu user-pro-dropdown" ngbDropdownMenu>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fe-user mr-1"></i>
                    <span>My Account</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fe-settings mr-1"></i>
                    <span>Settings</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fe-lock mr-1"></i>
                    <span>Lock Screen</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fe-log-out mr-1"></i>
                    <span>Logout</span>
                </a>

            </div>
        </div>
        <p class="text-muted">Admin Head</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#" class="text-muted">
                    <i class="mdi mdi-settings"></i>
                </a>
            </li>

            <li class="list-inline-item">
                <a href="#" class="text-custom">
                    <i class="mdi mdi-power"></i>
                </a>
            </li>
        </ul>
    </div>
</ng-template>

<div class="left-side-menu">
    <div class="slimscroll-menu" appSlimScroll *ngIf="!isCondensed">
        <ng-container *ngTemplateOutlet="userProfile"></ng-container>
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>

    <div class="slimscroll-menu" *ngIf="isCondensed">
        <ng-container *ngTemplateOutlet="userProfile"></ng-container>
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>

</div>
<!-- Left Sidebar End -->